DATABASE_URL='postgresql://postgres:pass123@localhost:5432/nestjs-auth'
JWT_SECRET='a123456789'
JWT_EXPIRES_IN='1h'

REFRESH_JWT_SECRET='a123456789'
REFRESH_JWT_EXPIRES_IN='7d'

GOOGLE_CLINET_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_CALLBACK_URL='URL_ADDRESS:3000/auth/google/callback'